@import "tailwindcss";

@config "../tailwind.config.js";

:root {
  /* Light Mode */
  --background: 0 0% 100%;
  /* White */
  --foreground: 240 10% 3.9%;
  /* Zinc 950 */
  --primary: 240 5.9% 10%;
  /* Zinc 900 */
  --secondary: 240 4.8% 95.9%;
  /* Zinc 100 */
}

html[class="dark"] {
  /* Dark Mode */
  --background: 240 10% 3.9%;
  /* Zinc 950 */
  --foreground: 0 0% 98%;
  /* White */
  --primary: 0 0% 98%;
  /* White */
  --secondary: 240 3.7% 15.9%;
  /* Zinc 800 */
}

@layer base {
  body {
    @apply bg-white text-zinc-950 antialiased selection:bg-yellow-200 selection:text-black dark:bg-zinc-950 dark:text-zinc-50 dark:selection:bg-yellow-800 dark:selection:text-white transition-colors duration-300;
  }
}

/* Utilities for glassmorphism if needed */
.glass {
  @apply bg-white/70 backdrop-blur-lg border border-white/20 dark:bg-black/70 dark:border-white/10;
}

/* Custom Scrollbar for Phone Frame */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}